{% extends 'base.html'%}
{% load bootstrap4 %}
{% load static %}
{% block content %}

<div class="container-fluid" style="background-color: rgb(111, 127, 129); height: 70vh">
    
    <h2>My cart</h2>
    <hr>
    <div class="row">

        <div class="col-md-2"></div>

        <div class="col-md-8 bg-dark text-white">
            <h2>{{message}}</h2>
            <h3>{{user.username}}</h3>
            <table class="table text-white" >
                <thead>
                    <tr>
                        <th scope="col">S/N</th>
                        <th scope="col">appartment Name</th>
                        <th scope="col">Area</th>
                        <th scope="col">Rooms</th>
                        <th scope="col">Price (Ksh)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>{{appartment.name}}</td>
                        <td>{{appartment.area}}-({{appartment.city.name}})</td>
                        <td>{{appartment.rooms}}</td>
                        <td>{{appartment.price}}</td>
                    </tr>
                    
                </tbody>
              
            </table>
            <form class="form" action="" method="post" novalidate enctype="multipart/form-data" style="width: 40%;margin-bottom: 30px;">
                {% csrf_token %}

                {% bootstrap_form form layout='block' %}
                <button type="submit" class="btn btn-sm btn-success" style="margin-top:10px; margin-left:5px ">Submit</button>
            </form>



        </div>
        <div class="col-md-2"></div>
    </div>


</div>
{% endblock %}