{% extends 'base.html'%}
{% load bootstrap4 %}
{% load static %}

{% block content%}

<div class="container-fluid" style="background-color: rgb(111, 127, 129);">

    <div class="row">




        <div class="col-md-1"></div>
        <div class="col-md-6">
            <div class="card card-body">
                <div class="card-title">
                    <h3>{{home.name}} </h3>  <h5> {{home.city.name}}</h5><strong>Ksh. {{home.price}}</strong> <a
                        class="book btn btn-primary text-white" href="{% url 'booking' home.name%}">Book</a>
                </div>

                <img src="{{ home.image.url }}" alt="{{ home.name }}" class="img-responsive" height="400" width="90%">

            </div>
          <div class="card card-body bg-dark text-white">
              <h5>{{home.name}}</h5>
              <p>Located at <em>{{ home.area}}</em></p>
              <strong>{{home.rooms}} Rooms</strong>
              <h3>Decsription</h3>
              <p>{{ home.description }}</p>
              



          </div>
            <hr>



        </div>
        <div class="col-md-3">
            <form class="form" action="" method="post" novalidate enctype="multipart/form-data">
                {% csrf_token %}

                {% bootstrap_form form layout='block' %}
                <button type="submit" class="btn btn-sm btn-primary"
                    style="margin-top:10px; margin-left:5px">Comment</button>
            </form>
            <hr>
            {% for comment in comments %}
            <div>
                <!-- <p>{{ comment.property.name }}</p> -->
                <div class="card card-body bg-dark"><strong style="color:aqua">{{ comment.user.user.username }} :</strong> <span
                        class="text-light">{{ comment.comment }}</span>
                </div>
            </div>
            {% empty %}
            <p class="ml-3">No comments here yet</p>
            {% endfor %}
        </div>


        </form>




    </div>


    <hr>



</div>

{% endblock %}