{% extends 'base.html'%}
{% load bootstrap4 %}
{% load static %}

{% block content%}

<div class="container-fluid">

    <div class="row">




        <div class="col-md-1"></div>
        <div class="col-md-6">
            <div class="card card-body">
                <img src="{{ home.image.url }}" alt="{{ home.name }}" class="img-responsive" height="300" width="300">
            </div>
            <p>{{home.name}}</p>
            <hr>
            {% for comment in comments %}
            <div>
                <div class="ml-2"><strong>{{ comment.user.user.username }} :</strong> <span
                        class="text-secondary">{{ comment.comment }}</span>
                </div>
            </div>
            {% empty %}
            <p class="ml-3">No comments here yet</p>
            {% endfor %}


        </div>
        <div class="col-md-4">
            <form class="form" action="" method="post" novalidate enctype="multipart/form-data">
                {% csrf_token %}



                {% bootstrap_form form layout='block' %}
                <button type="submit" class="btn btn-sm btn-info" style="margin-top:10px; margin-left:5px">post</button>
            </form>
        </div>


        </form>




    </div>


    <hr>



</div>

{% endblock %}