<!-- Footer -->
<footer class="page-footer font-small blue pt-4 " style="background-color: rgb(30, 43, 46); color: aqua;">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">

        <!-- Grid row -->
        <div class="row">

            <!-- Grid column -->
            <div class="col-md-6 mt-md-0 mt-3">

                <!-- Content -->
                <h5 class="text-uppercase">Uptown Booking website</h5>
                <p>We are there to assist you in growing your assets, by building up your property funds and ensuring
                    that your home is up to standard.</p>
                <hr style="border: 2px solid aqua; width: 40%; float: left">
            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none pb-3">

            <!-- Grid column -->
            <div class="col-md-3 mb-md-0 mb-3">

                <!-- Links -->
                <h5 class="text-uppercase">Quick Links</h5>

                <ul class="list-unstyled">
                    <li>
                        <a href="#!">Available Appartments</a>
                    </li>
                    <li>
                        <a href="#!">Account</a>
                    </li>
                    <li>
                        <a href="#!">Conatact us</a>
                    </li>
                    <li>
                        <a href="#!">About us</a>
                    </li>
                </ul>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-3 mb-md-0 mb-3">

                <!-- Links -->
                <h5 class="text-uppercase">Social Media</h5>

                <ul class="list-unstyled">
                    <li>
                        <a href="#!">Facebook</a>
                    </li>
                    <li>
                        <a href="#!">Instagram</a>
                    </li>
                    <li>
                        <a href="#!">Twitter</a>
                    </li>
                    <li>
                        <a href="#!">LinkedIn</a>
                    </li>
                </ul>

            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center text-white py-3" style="border-top: 1px solid grey;">© 2021 Copyright:
        <a href="https://ibrahim.com/"> Ibrahim Kiprotich</a>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->