{% extends 'base.html' %}
{% load bootstrap4%}
{% load static %}
{% block content %}
<div class="container-fluid" style="background-color: rgb(11, 11, 44);">
    <div class="h2" style="height:20vh;color: aqua;">Welcome</div>
    <div class="row" style="height:60vh;background-image: url('https://images.unsplash.com/photo-1515263487990-61b07816b324?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1650&q=80');">
     
        
     
    </div>

</div>

{% endblock %}