{% extends 'base.html' %}
{% load bootstrap4%}
{% load static %}
{% block content %}
<div class="container-fluid" style="background-color: rgb(11, 11, 44);">

    <div class="row" style="height:100vh;background-image: url('https://images.unsplash.com/photo-1515263487990-61b07816b324?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1650&q=80');background-repeat: no-repeat;background-size: cover;">
  

     <div class="col-md-12 bg-secondary" style="height:20vh; opacity: 0.6;display:flex; align-items:center;justify-content:center;flex-direction:column ">
        <h2 class="welcome text-white" style="font-weight:bolder;">Welcome to Uptown booking site</h2>
        <a href="{% url 'property'%}" class="btn btn-primary" style="color: black;border-bottom: 2px solid black;">View Available appartments</a>

     </div>

     
   
    </div>

</div>

{% endblock %}