{% load bootstrap4%}
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'property'%}">property</a>
                </li>
               
                <li class="nav-item">
                    <a class="nav-link" href="#">Disabled</a>
                </li>
          
            <div class="col-sm-6 col-md-6" style="display: inline-flex; margin-right: 50px;">
                {% if user.is_authenticated %}


                <div class="instaicon like" style="display: inline;" class="dropdown">
                    <a href="#" class="dropdown-toggle btn btn-default" data-toggle="dropdown" role="button"
                        aria-expanded="false">Account</a>
                    <ul class="dropdown-menu" role="menu">
                        
                        <li>
                            <a href="#" style="color: inherit;">Make new post</a>
                        </li>
                        <li>
                            <a href="/accounts/password_change" style="color: inherit;">Change Password</a>
                        </li>

                        <li>
                            <a href="/accounts/logout" style="color: inherit;">Logout</a>
                        </li>
                    </ul>
                </div>

                {% else %}
                <a class='btn btn-default' href="/accounts/login">
                    <p>Login</p>
                </a>
                {% endif %}
            </div>
        </ul>
               
          
        </div>
    </nav>

</body>

</html>