{% load bootstrap4%}
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: rgb(85, 85, 92); border-bottom: 1px solid grey;color: aqua;">
        <a class="navbar-brand" href="/"style="color:aqua">HomeSearch</a>
        <button style="color: aqua;" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon" style="color: aqua;"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" style="color: aqua;" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="color: aqua;" href="{% url 'property'%}">property</a>
                </li>

               

                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" style="color: aqua;" href="{% url 'profile' user.username %}">Profile</a>
                </li>

               


                {% else %}
               
                <li class="nav-item">
                    <a class="nav-link" style="color: aqua;" href="accounts/login">Login</a>
                </li>
                {% endif %}
            </ul>
        </div>
        </ul>


        </div>
    </nav>

</body>

</html>