{% extends 'base.html'%}
{% load bootstrap4 %}
{% load static%}
{% block content %}
<div class="container-fluid" style="background-color: rgb(31, 49, 45);">

    <div class="row">
        <div class="col-md-3"></div>

        <div class="col-md-6">
            <h3 class="text-white">My Order</h3>
            <hr>

            {% for order in order%}
            <div class="card card-body">
                <h3>{{order.user.user.username}}</h3>

                <h4>{{order.property.name}} - <strong style="display:flex;float:right;"> Ksh.
                        {{order.property.price}}</strong></h4>
                <p>Rooms: {{order.property.rooms}} </p>
                <p>Location : {{order.property.city.name}} City <span> - {{order.property.area}} </span> </p>

                <a class="btn btn-danger" style="width:15%" href="#">Delete</a>

                <!-- {% url 'delete' order.id %}" -->
                <hr>

            </div>
            {% endfor %}
            <div class="card card-body mb-5 mt-1" >
                <h2>Total Cost: -</h2>
            </div>

        </div>
        <div class="col-md-3"></div>
    </div>


</div>



{%endblock%}