{% extends 'base.html'%}

{%block content %}

<div class="container-fluid">

    <div class="row">
        {%if location %}
        <h2>Found {{ location |length }} of searched term {{message}}</h2>

        {%else %}
        <div>
            <h2 class="text-center"> Found 0 appartments</h2> for the search term {{message}}</h2>
        </div>


        {% endif %}

    </div>

    <div class="container-row">

        {% if location %}
        {% for location in location %}
        <div class="col-md-7">
            <h1 class="text-underline">{{location.name}}</h1>

            <img src="{{location.image.url}}" alt="" height="300px" width="300px">
            


        </div>
        {% endfor %}

    </div>
    {% endif %}
    <hr>

  

</div>
</div>


</div>

{%endblock%}